<nz-table #editRowTable nzBordered [nzData]="paths" [nzShowPagination]="false" nzSize="small">
  <thead>
    <tr>
      <th>Origin city</th>
      <th>Destination city</th>
      <th nzWidth="15%">Distance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data" class="editable-row">
      <td>{{ data.destinationCity }}</td>
      <td>{{ data.originCity }}</td>
      <td>
        <nz-input-number nzMin="0" [(ngModel)]="data.distance" (ngModelChange)="onDistanceChange()"></nz-input-number>
      </td>
    </tr>
  </tbody>
</nz-table>
