<header class="header">
  <h1 nz-title>Travelling Salesman Problem</h1>
  <span nz-text class="info">Computer Science - UNISUL 2020</span>
  <span nz-text class="info">Developed by <strong>Vilmar Mendes Junior</strong></span>
  <span nz-text class="info">Oriented by <strong>Clavison Zapelini</strong></span>
</header>
<div class="container">
  <nz-steps nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Select the cities"> </nz-step>
    <nz-step nzTitle="Set the distances" [nzDisabled]="hasInvalidCity"></nz-step>
    <nz-step nzTitle="Calculate"></nz-step>
  </nz-steps>

  <section class="step-content" *ngIf="index === 0">
    <app-city-selection [cities]="cities" (cityChange)="onCityChange($event)"></app-city-selection>
  </section>

  <section class="step-content" *ngIf="index === 1">
    <app-distances [paths]="paths"></app-distances>
  </section>

  <section class="step-content" *ngIf="index === 2">
    <app-calculation></app-calculation>
  </section>
</div>
