<header class="header">
  <h1 nz-title>Travelling Salesman Problem</h1>
  <span nz-text class="info">Computer Science - UNISUL 2020</span>
  <span nz-text class="info">Developed by <strong>Vilmar Mendes Junior</strong></span>
  <span nz-text class="info">Oriented by <strong>Clavison Zapelini</strong></span>
</header>
<div class="container">
  <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="Select the cities" nzStatus="process"> </nz-step>
    <nz-step
      nzTitle="Set the distances"
      [nzStatus]="hasInvalidCity ? 'wait' : 'process'"
      [nzDisabled]="hasInvalidCity"
    ></nz-step>
    <nz-step nzTitle="Calculate" nzStatus="process"></nz-step>
  </nz-steps>

  <section class="step-content">
    <app-city-selection [cities]="cities" (cityChange)="checkInvalidCity($event)"></app-city-selection>
  </section>
</div>
