<div class="calculation-container">
  <nz-input-number
    nzMin="0"
    nzPlaceHolder="Number of generations"
    style="margin-bottom: 10px;"
    [(ngModel)]="numberOfGenerations"
  ></nz-input-number>
  <button
    nz-button
    nzType="primary"
    nzSize="default"
    style="width: 100%;"
    [nzLoading]="isCalculating"
    (click)="calculate()"
  >
    Start
  </button>

  <section style="margin-top: 20px" *ngIf="fittestChromosome">
    <h2>Results</h2>
    <span style="display: block"
      >Best path: <strong>{{ fittestChromosome.cities }}</strong></span
    >
    <span
      >Total distance: <strong>{{ fittestChromosome.totalDistance }}</strong></span
    >
  </section>
</div>
